{% load static %}
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link href="{% static 'tohocd/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'tohocd/css/header.css' %}" rel="stylesheet">
        <link href="{% static 'tohocd/css/main.css' %}" rel="stylesheet">
        <link href="{% static 'tohocd/css/detail.css' %}" rel="stylesheet">
        <link href="{% static 'tohocd/css/js.css' %}" rel="stylesheet">
        <link href="{% static 'tohocd/images/favicon.ico' %}" rel="shortcut icon" type="image/vnd.microsoft.icon">
        <link href="{% static 'tohocd/images/app-touch-icon.png' %}" rel="apple-touch-icon">
        <title>東方音楽歴</title>
    </head>
    <body>
        <header id="header">
            <div class="header-container">
                <span class="site-ttl"><a href="{% url 'index' %}"><div class="header-logo"></div></a></span>
                <div id="slidemenu-btn" class="header-navbtn"></div>
            </div>
        </header>
        <nav>
            <div class="nav-container" id="js-slidemenu">
                <ul class="globalnav">
                    <li><a href="{% url 'search' %}"><i class="fas fa-search"></i> 検索</a></li>
                    <li><a href="{% url 'detail' %}"><i class="fas fa-search"></i> 詳細検索</a></li>
                    <li><a href="{% url 'cd' %}"><i class="fas fa-info-circle"></i> CD情報</a></li>
                    <li><a href="{% url 'circle' %}"><i class="fas fa-info-circle"></i> サークル情報</a></li>
                    <li><a href="{% url 'search' %}"><i class="fas fa-info-circle"></i> 曲情報</a></li>
                    <li><a href="{% url 'vocal' %}"><i class="fas fa-info-circle"></i> 歌手情報</a></li>
                    <li><a href="{% url 'lyric' %}"><i class="fas fa-info-circle"></i> 作詞情報</a></li>
                    <li><a href="{% url 'arrange' %}"><i class="fas fa-info-circle"></i> 編曲情報</a></li>
                    <li><a href="{% url 'orisong' %}"><i class="fas fa-info-circle"></i> 原曲情報</a></li>
                    <li><a href="{% url 'oriwork' %}"><i class="fas fa-info-circle"></i> 原作情報</a></li>
                </ul>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
        <div id="footer">
            Copyright (C) 2018 もくせん
        </div>
        <p class="pagetop"><a href="#header"><i class="far fa-3x fa-arrow-alt-circle-up"></i></a></p>
    </body>
    <script src="{% static 'tohocd/scripts/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'tohocd/scripts/custom.js' %}"></script>
    <script src="{% static 'tohocd/scripts/footerFixed.js' %}"></script>
</html>