{% load item_extra %}
<div class="cdInfo-table-wrapper">
    <table class="cdInfo-table">
        <tr>
            {% if sort_flag == 'cd' %}<th><a href="?{% sort_add request 'cd_d' %}"><i class="fas fa-compact-disc"></i> CD名 <i class="fas fa-sort-up"></i></th>
            {% elif sort_flag == 'cd_d' %}<th><a href="?{% sort_add request 'cd' %}"><i class="fas fa-compact-disc"></i> CD名 <i class="fas fa-sort-down"></i></a></th>
            {% else %}<th><a href="?{% sort_add request 'cd' %}"><i class="fas fa-compact-disc"></i> CD名 <i class="fas fa-sort"></i></a></a>{% endif %}
            {% if sort_flag == 'circle' %}<th><a href="?{% sort_add request 'circle_d' %}"><i class="fas fa-users"></i> サークル名 <i class="fas fa-sort-up"></i></a></th>
            {% elif sort_flag == 'circle_d' %}<th><a href="?{% sort_add request 'circle' %}"><i class="fas fa-users"></i> サークル名 <i class="fas fa-sort-down"></i></a></th>
            {% else %}<th><a href="?{% sort_add request 'circle' %}"><i class="fas fa-users"></i> サークル名 <i class="fas fa-sort"></i></a>{% endif %}
            {% if sort_flag == 'song' %}<th><a href="?{% sort_add request 'song_d' %}"><i class="fas fa-music"></i> 曲名 <i class="fas fa-sort-up"></i></a></th>
            {% elif sort_flag == 'song_d' %}<th><a href="?{% sort_add request 'song' %}"><i class="fas fa-music"></i> 曲名 <i class="fas fa-sort-down"></i></a></th>
            {% else %}<th><a href="?{% sort_add request 'song' %}"><i class="fas fa-music"></i> 曲名 <i class="fas fa-sort"></i></a>{% endif %}
            {% if sort_flag == 'vocal' %}<th><a href="?{% sort_add request 'vocal_d' %}"><i class="fas fa-user"></i> 歌手 <i class="fas fa-sort-up"></i></a></th>
            {% elif sort_flag == 'vocal_d' %}<th><a href="?{% sort_add request 'vocal' %}"><i class="fas fa-user"></i> 歌手 <i class="fas fa-sort-down"></i></a></th>
            {% else %}<th><a href="?{% sort_add request 'vocal' %}"><i class="fas fa-user"></i> 歌手 <i class="fas fa-sort"></i></a>{% endif %}
            {% if sort_flag == 'lyric' %}<th><a href="?{% sort_add request 'lyric_d' %}"><i class="fas fa-user"></i> 作詞者 <i class="fas fa-sort-up"></i></a></th>
            {% elif sort_flag == 'lyric_d' %}<th><a href="?{% sort_add request 'lyric' %}"><i class="fas fa-user"></i> 作詞者 <i class="fas fa-sort-down"></i></a></th>
            {% else %}<th><a href="?{% sort_add request 'lyric' %}"><i class="fas fa-user"></i> 作詞者 <i class="fas fa-sort"></i></a>{% endif %}
            {% if sort_flag == 'arrange' %}<th><a href="?{% sort_add request 'arrange_d' %}"><i class="fas fa-user"></i> 編曲者 <i class="fas fa-sort-up"></i></a></th>
            {% elif sort_flag == 'arrange_d' %}<th><a href="?{% sort_add request 'arrange' %}"><i class="fas fa-user"></i> 編曲者 <i class="fas fa-sort-down"></i></a></th>
            {% else %}<th><a href="?{% sort_add request 'arrange' %}"><i class="fas fa-user"></i> 編曲者 <i class="fas fa-sort"></i></a>{% endif %}
            {% if sort_flag == 'ori_song' %}<th><a href="?{% sort_add request 'ori_song_d' %}"><i class="fas fa-music"></i> 原曲 <i class="fas fa-sort-up"></i></a></th>
            {% elif sort_flag == 'ori_song_d' %}<th><a href="?{% sort_add request 'ori_song' %}"><i class="fas fa-music"></i> 原曲 <i class="fas fa-sort-down"></i></a></th>
            {% else %}<th><a href="?{% sort_add request 'ori_song' %}"><i class="fas fa-music"></i> 原曲 <i class="fas fa-sort"></i></a>{% endif %}
            {% if sort_flag == 'ori_work' %}<th><a href="?{% sort_add request 'ori_work_d' %}"><i class="fas fa-box"></i> 原作 <i class="fas fa-sort-up"></i></a></th>
            {% elif sort_flag == 'ori_work_d' %}<th><a href="?{% sort_add request 'ori_work' %}"><i class="fas fa-box"></i> 原作 <i class="fas fa-sort-down"></i></a></th>
            {% else %}<th><a href="?{% sort_add request 'ori_work' %}"><i class="fas fa-box"></i> 原作 <i class="fas fa-sort"></i></a>{% endif %}
            {% if sort_flag == 'release' %}<th><a href="?{% sort_add request 'release_d' %}"><i class="far fa-calendar-alt"></i> 発売日 <i class="fas fa-sort-up"></i></a></th>
            {% elif sort_flag == 'release_d' %}<th><a href="?{% sort_add request 'release' %}"><i class="far fa-calendar-alt"></i> 発売日 <i class="fas fa-sort-down"></i></a></th>
            {% else %}<th><a href="?{% sort_add request 'release' %}"><i class="fas fa-calendar-alt"></i> 発売日 <i class="fas fa-sort"></i></a>{% endif %}
        </tr>
    {% for song in data %}
        <tr>
            <td><a href="{{song.cd.circle.circle_url}}{{song.cd.cd_url}}"><i class="fas fa-external-link-alt"></i> {{song.cd.cd_name}}</a></td>
            <td><a href="{{song.cd.circle.circle_url}}"><i class="fas fa-external-link-alt"></i> {{song.cd.circle.circle_name}}</a></td>
            <td>{{song.song_name}}</td>
            <td>{% for song_info in song.song_info_set.all %}{{song_info.vocal.vocal_name}}<br>{% endfor %}</td>
            <td>{% for song_info in song.song_info_set.all %}{{song_info.lyric.lyric_name}}<br>{% endfor %}</td>
            <td>{% for song_info in song.song_info_set.all %}{{song_info.arrange.arrange_name}}<br>{% endfor %}</td>
            <td>{% for ori_info in song.original_info_set.all %}{{ori_info.original_song.original_name}}<br>{% endfor %}</td>
            <td>{% for ori_info in song.original_info_set.all %}{{ori_info.original_song.original_work.original_work_name}}<br>{% endfor %}</td>
            <td>{{song.cd.release_on}}</td>
        </tr>
    {% endfor %}
    </table>
</div>