{% extends 'parts/base.html' %}
{% load static %}
{% block css %}<link href="{% static 'tohocd/css/about.css' %}" rel="stylesheet">{% endblock %}
{% block content %}
    <div class="about-wrapper">
        <h1>東方音楽歴とは</h1>
        <hr>
        <p>東方Projectの同人音楽のデータベースサイトです。</p>
        <p>もくせんが個人で開発したWebサイトとなっており、非公式です。</p>
        <h1>サイト情報</h1>
        <hr>
        <p>サイト名：東方音楽歴</p>
        <p>サイト名(ルビ)：とうほうおんがくれき</p>
        <p>バージョン：1.0.0</p>
        <p>最新版リリース：2018/09/02</p>
        <h1>プロフィール</h1>
        <hr>
        <p>管理者：もくせん</p>
        <p>GitHub：</p>
        <p>Twitter：</p>
        <p>※ 基本的に返信は週末に行いますので、お時間を頂きます。ご了承下さい。</p>
    </div>
{% endblock %}