{% extends 'parts/base.html' %}
{% block content %}
    <div class="bread-wrapper">
        <ul class="breadcrumb">
            <li><a href="{% url 'index' %}"><i class="fas bread-size fa-home"></i> Home</a></li>
            <li><i class="fas bread-size fa-info-circle"></i> CD情報</li>
        </ul>
    </div>
    <div class="search-wrapper">
        <form action="{% url 'cd' %}" method="GET">
            {{form}}<button class="search-btn" type="submit"><i class="fas fa-search"></i></button>
            <p>CD名、サークル名、発売日で検索することができます。</p>
        </form>
    {% if max != 0 %}
        <ul class="cdList">
            <li><span><i class="fas fa-compact-disc"></i> CD名</span><span><i class="fas fa-users"></i> サークル名</span><span><i class="far fa-calendar-alt"></i> 発売日</span></li>
            <hr>{% for cd in data %}
            <li><a href="{% url 'cd_detail' cd.id %}"><span>{{cd.cd_name}}</span><span>{{cd.circle.circle_name}}</span><span>{{cd.release_on}}</span></a></li>{% endfor %}
        </ul>
        {% include 'parts/pagination.html' %}
    {% else %}
        <p>{{msg}}</p>
    {% endif %}
    </div>
{% endblock %}