{% extends 'parts/base.html' %}
{% block addtitle %}サークル情報 | {% endblock %}
{% block content %}
    <div class="bread-wrapper">
        <ul class="breadcrumb">
            <li><a href="{% url 'index' %}"><i class="fas bread-size fa-home"></i> Home</a></li>
            <li><i class="fas bread-size fa-info-circle"></i> サークル情報</li>
        </ul>
    </div>
    <div class="search-wrapper">
        <form action="{% url 'circle' %}" method="GET">
            {{form}}<button class="search-btn" type="submit"><i class="fas fa-search"></i></button>
            <p>サークル名で検索することができます。</p>
        </form>
    {% if max != 0 %}
        <ul class="someList accordion">
            <li><span><i class="fas fa-users"></i> サークル名</span></li>
            <hr>{% for circle in data %}
            <li><span class="some"><i class="fas fa-chevron-down"></i> {{circle.circle_name}}</span></li>
            <ul class="inner">{% for cd in circle.cd_set.all %}
                <li><a href="{% url 'cd_detail' cd.id %}"><i class="fas fa-angle-right"></i> {{cd.cd_name}}</a></li>{% endfor %}
            </ul>{% endfor %}
        </ul>
        {% include 'parts/pagination.html' %}
    {% else %}
        <p>{{msg}}</p>
    {% endif %}
    </div>
{% endblock %}