{% extends 'tohocd/base.html' %}
{% block content %}
    <div class="search-wrapper">
        <form action="{% url 'lyric' %}" method="GET">
            {{form}}<button class="search-btn" type="submit"><i class="fas fa-search"></i></button>
            <p>作詞者名で検索することができます。</p>
        </form>
    {% if max != 0 %}
        <ul class="someList">
            <li><span><i class="fas fa-users"></i> 作詞者名</span></li>
            <hr>
            {% for lyric in data %}<li><a href="{% url 'lyric_detail' %}?lyricId={{lyric.id}}"><span>{{lyric.lyric_name}}</span></a></li>{% endfor %}
        </ul>
        {% include 'tohocd/pagination.html' %}
    {% endif %}
    </div>
{% endblock %}