{% extends 'parts/base.html' %}
{% load item_extra %}
{% block content %}
    <div class="bread-wrapper">
        <ul class="breadcrumb">
            <li><a href="{% url 'index' %}"><i class="fas bread-size fa-home"></i> Home</a></li>
            <li><a href="{% url 'orisong' %}"><i class="fas bread-size fa-info-circle"></i> 原曲情報</a></li>
            <li><i class="fas bread-size fa-music"></i> {{orisong.get.original_name}}</li>
        </ul>
    </div>
    <div class="search-wrapper">
        <form action="?{% url_add request 1 %}">
            {{form}}<button class="search-btn" type="submit"><i class="fas fa-search"></i></button>
        </form>
        <div class="cdInfo-table-title"><i class="fas fa-music"></i> 原曲名：{{orisong.get.original_name}}</div>
    {% if max != 0 %}
        {% include 'parts/cdAll_info.html' %}
        {% include 'parts/pagination.html' %}
    {% else %}
        <p>{{msg}}</p>
    {% endif %}
    </div>
{% endblock %}