{% extends 'tohocd/base.html' %}
{% block content %}
    <div class="search-wrapper">
        <form action="{% url 'orisong' %}" method="GET">
            {{form}}<button class="search-btn" type="submit"><i class="fas fa-search"></i></button>
            <p>原曲名で検索することができます。</p>
        </form>
    {% if max != 0 %}
        <ul class="someList">
            <li><span><i class="fas fa-users"></i> 原曲名</span></li>
            <hr>
            {% for orisong in data %}<li><a href="{% url 'orisong_detail' %}?orisongId={{orisong.id}}"><span>{{orisong.original_name}}</span></a></li>{% endfor %}
        </ul>
        {% include 'tohocd/pagination.html' %}
    {% endif %}
    </div>
{% endblock %}