{% extends 'parts/base.html' %}
{% block content %}
    <div class="search-wrapper">
        <form action="{% url 'search' %}" method="GET">
            {% for field in form %}{{field}}{% endfor %}<button class="search-btn" type="submit"><i class="fas fa-search"></i></button>
            <p>CD、サークル、曲名、歌手、作詞、編曲、原曲、原作、発売日で検索することができます。</p>
        </form>
    {% if max != 0 %}
        {% include 'parts/cdAll_info.html' %}
        {% include 'parts/pagination.html' %}
    {% else %}
        <p>{{msg}}</p>
    {% endif %}
    </div>
{% endblock %}