{% extends 'parts/base.html' %}
{% load item_extra %}
{% block content %}
    <div class="search-wrapper">
        <form action="?{% url_add request 1 %}" method="get">
            {{form}}<button class="search-btn" type="submit"><i class="fas fa-search"></i></button>
        </form>
        <div class="cdInfo-table-title"><i class="fas fa-user"></i> 歌手名：{{vocal.get.vocal_name}}</div>
        {% include 'parts/cdAll_info.html' %}
        {% include 'parts/pagination.html' %}
    </div>
{% endblock %}