{% extends 'parts/base.html' %}
{% block content %}
    <div class="search-wrapper">
        <form action="{% url 'vocal' %}" method="GET">
            {{form}}<button class="search-btn" type="submit"><i class="fas fa-search"></i></button>
            <p>歌手名で検索することができます。</p>
        </form>
    {% if max != 0 %}
        <ul class="someList">
            <li><span><i class="fas fa-user"></i> 歌手名</span></li>
            <hr>{% for vocal in data %}
            <li><a href="{% url 'vocal_detail' vocal.id %}"><span class="some">{{vocal.vocal_name}}</span></a></li>{% endfor %}
        </ul>
        {% include 'parts/pagination.html' %}
    {% endif %}
    </div>
{% endblock %}