{% extends 'parts/base.html' %}
{% block addtitle %}歌手情報 | {% endblock %}
{% block content %}
    <div class="bread-wrapper">
        <ul class="breadcrumb">
            <li><a href="{% url 'index' %}"><i class="fas bread-size fa-home"></i> Home</a></li>
            <li><i class="fas bread-size fa-info-circle"></i> 歌手情報</li>
        </ul>
    </div>
    <div class="search-wrapper">
        <form action="{% url 'vocal' %}" method="GET">
            {{form}}<button class="search-btn" type="submit"><i class="fas fa-search"></i></button>
            <p>歌手名で検索することができます。</p>
        </form>
    {% if max != 0 %}
        <ul class="someList">
            <li><span><i class="fas fa-user"></i> 歌手名</span></li>
            <hr>{% for vocal in data %}
            <li><a href="{% url 'vocal_detail' vocal.id %}"><span class="some"><i class="fas fa-angle-right"></i> {{vocal.vocal_name}}</span></a></li>{% endfor %}
        </ul>
        {% include 'parts/pagination.html' %}
    {% else %}
        <p>{{msg}}</p>
    {% endif %}
    </div>
{% endblock %}