### Django ###
__pycache__
*.py[co]
local_settings.py
local_urls.py
dev_requirements.txt

### Develop ###
spec
todo
**.sh

### deploy ###
static
main.py
**.yaml
.gc**

### VsCode ###
.vscode