@charset "utf-8";
/* index */
/* アイコン変更 */
.size {
	font-size: 5em;
}
@media screen and (min-width: 768px) {
	.size {
		font-size: 10em;
	}
}
/* アイコン変更ここまで */
.main-wrapper {
	background: #ffffff;
	text-align: center;
	width:100%;
}
.main-table {
	table-layout: fixed;
	margin:0 auto;
	padding:10px;
}
.main-table td {
	padding: 1rem;
}
.main-table a {
	display:block;
	padding:5px 10px;
	text-align: center;
	border-radius: 10px;
	background-color:#062C54;
	color: #EBF4F4;
}
.main-table i{
	color:#3F4551;
}
@media screen and (min-width: 768px) {
	.main-table {
		padding:20px;
	}
	.main-table a {
		padding:5px 10px;
		border-radius: 10px;
	}
	.main-table a:hover {
		background-color:#005B98;
		color:#EBF4F4;
	}
}
/* indexここまで */
/* search */
.search-wrapper {
	margin:0 auto;
	text-align: center;
} 
.search-input {
	margin-top: 10px;
	padding: 0 4px;
	width:70%;
	height: 30px;
	border-radius: 5px 0 0 5px;
}
.search-btn {
	width: 30px;
	height: 30px;
	border-radius: 0 5px 5px 0;
	margin:0;
	vertical-align: bottom;
}
@media screen and (min-width: 768px) {
	.search-input {
		margin-top: 20px;
		height: 40px;
	}
	.search-btn {
		width: 40px;
		height: 40px;
	}
}
/* searchここまで */
/* nav */
nav {
	font-size: 0.78rem;
	background: #062C54;
}
@media screen and (min-width: 768px) {
	nav {
		font-size: 1rem;
	}
}
.nav-container {
	position: absolute;
	top: 33px;
	right: 0;
	z-index: 20;
	margin: 0;
	padding: 0;
	width: 200px;
	background: #062C54;
	box-shadow: 0px 5px 5px  rgba(0,0,0,0.4);
}
.globalnav {
	list-style: none;
	margin: 0;
	padding: 0;
}
.globalnav li a {
	display: block;
	padding: 15px 20px;
	line-height: 100%;
	color: #EBF4F4;
}
@media screen and (min-width: 768px) {
	.nav-container {
		position: relative;
		top: 0;
		left: 0;
		padding: 0 20px 0 20px;
		width: 100%;
		background: none;
		box-shadow: none;
	}
	.globalnav {
		overflow: hidden;
	}
	.globalnav li {
		float: left;
		width: 20%;
	}
	.globalnav li a {
		padding: 10px 0;
		text-align: center;
	}
	.globalnav li a:hover {
		background-color:#005B98;
		color:#EBF4F4;
	}
}
/* navここまで */
/* cdList */
.cdList li{
	padding: 0 6px;
	color:#3F4551;
}
.cdList span {
	display: inline-block;
	text-align:center;
	width: 33.3%;
	word-break: break-all;
	padding:0px 5px;
}
.cdList a{
	display:block;
	padding:10px 10px;
	box-shadow: 0px 3px 15px rgba(6,44,84,0.4);
	color:#005B98;
	margin-bottom:10px;
	border-radius: 10px;
	background-color:#DFF2FC;
	transition:0.2s;
}
.cdList a:hover {
  box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
  transition:0.2s;
}
/* cdListここまで */
/* someList */
.someList li{
	padding: 0 6px;
	color:#3F4551;
	padding-bottom:0px;
}
.someList .some {
	display:block;
	padding:10px 10px;
	box-shadow: 0px 3px 15px rgba(6,44,84,0.4);
	color:#005B98;
	margin-bottom:10px;
	border-radius: 10px;
	background-color:#DFF2FC;
	transition:0.2s;
}
.someList .some:hover {
  box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
  transition:0.2s;
}
/* someListここまで */
/* ページング */ 
.pagination {
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.pagination ul{
	display: inline-block;
}
.pagination li {
	float: left;
	border-top: 1px solid #b9b9b9;
	border-bottom: 1px solid #b9b9b9;
	border-left: 1px solid #b9b9b9;
	background: #e0e0e0;
}
.pagination li:first-child {
	border-radius: 10px 0 0 10px;
}
.pagination li:last-child {
	border-right: 1px solid #b9b9b9;
	border-radius: 0 10px 10px 0;
}
.pagination li:hover {
	background: #d1d1d1;
}
.pagination li a {
	display: block;
	padding: 5px 20px;
	color: #3e5358;
}
.pagination li.current {
	background: #f6d7b6;
}
/* ページングここまで */
.pagetop {
	position: fixed;
	right: 10px;
	bottom: 10px;
}
.pagetop a {
	color:#005B98;
}
