@charset "utf-8";
/* nav */
nav {
	font-size: 0.78rem;
	background: #062C54;
}
@media screen and (min-width: 768px) {
	nav {
		font-size: 1rem;
	}
}
.nav-container {
	position: absolute;
	top: 39px;
	right: 0;
	z-index: 20;
	margin: 0;
	padding: 0;
	width: 200px;
	background: #062C54;
	box-shadow: 0px 5px 5px  rgba(0,0,0,0.4);
}
.globalnav {
	list-style: none;
	margin: 0;
	padding: 0;
}
.globalnav li a {
	display: block;
	padding: 15px 20px;
	text-decoration: none;
	line-height: 100%;
	color: #ffffff;
}
@media screen and (min-width: 768px) {
	.nav-container {
		position: relative;
		top: 0;
		left: 0;
		padding: 0 20px 0 20px;
		width: 100%;
		background: none;
		box-shadow: none;
	}
	.globalnav {
		overflow: hidden;
	}
	.globalnav li {
		float: left;
		width: 20%;
	}
	.globalnav li a {
		padding: 10px 0;
		text-align: center;
	}
}
/* navここまで */
/* cdList */
.cdList a{
	font-size:20px;
	display:block;
	padding:15px 25px;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
	color:#000;
	margin-bottom:10px;
	transition:0.2s;
}
.cdList a:hover {
  box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
  transition:0.2s;
}
/* cdListここまで */
/* someList */
.someList .some {
	font-size:20px;
	display:block;
	padding:15px 25px;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
	color:#000;
	margin-bottom:10px;
	transition:0.2s;
}
.someList .some:hover {
  box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
  transition:0.2s;
}
/* someListここまで */
/* cdInfo-table */
.cdInfo-table-wrapper {
	overflow-x: scroll;
}
@media screen and (min-width: 768px) {
	.cdInfo-table-wrapper {
		overflow-x: auto;
	}
}
.cdInfo-table {
	border-collapse: collapse;
}
.cdInfo-table th,
.cdInfo-table td {
	padding: 1rem;
	border: 1px solid #dadada;
}
.cdInfo-table th {
	background-color: #37b9d5;
	color: #ffffff;
	font-size: 1.2rem;
	text-align: left;
	white-space: nowrap;
}
/* allTableここまで */
