@charset "utf-8";
html {
	font-size: 15px;
}
@media screen and (min-width: 768px) {
	html {
		font-size: 18px;
	}
}
html * {
	box-sizing: border-box;
}
body {
	margin: 0;
}
ul {
	-webkit-padding-start: 0%;
	list-style-type: none;
}
a {
	text-decoration: none;
}
td, th{
	white-space: nowrap;
}
/* ========== Javascript用CSS ========== */
/* ナビゲーションを最初は非表示。 */
#js-slidemenu {
	display: none;
}
/* パソコン向けではナビゲーションを常に表示 */
@media screen and (min-width: 768px) {
	#js-slidemenu {
		display: block !important; 
	}
}
/* ナビゲーションが開いたときに画面を暗くする処理のためのCSS */
.js-slidemenu-effect {
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.4;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}
/* アコーディオンの設定 */
.accordion {
	text-align: center;
}
.accordion .inner {
	display: none;
}